<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Description" content="Site about the photography of Ivan Pavlov.">
	<link rel="icon" href="/images/favicon.ico">
		<meta name="keywords" content="{{metaTags}}">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
		<link rel='stylesheet' href='/stylesheets/{{pageStyle}}.css'/>
	<script defer src="/javascripts/mobileNav.js"></script>
		<script defer src="/javascripts/{{pageScript}}.js"></script>
</head>
<body>
{{> _nav}}
{{{body}}}
</body>
</html>
